.dashboard1-container {
  width: 90%; /* Increased width */
  max-width: 1200px; /* Increased max-width */
  margin-left: auto; /* Center the container */
  margin-top: 5px;
  margin-right: auto; /* Center the container */
  padding: 30px; /* Increased padding */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px 0px #fff; /* horizontal offset, vertical offset, blur radius, spread radius, color */
}

  
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
